# CADET-Core
CADET-Core

cadet-python/projects/.env

# act-project
cadet-python/projects/act-isotherm/graphs
cadet-python/projects/act-isotherm/h5

# IEX-H5
cadet-python/projects/IEX-H5/graphs
cadet-python/projects/IEX-H5/h5

# data
cadet-python/data


